<!-- Add products -->
 <div class="max-w-2xl mx-auto bg-white p-6 rounded-xl shadow-md mb-10">
    <h2 class="text-2xl font-bold text-emerald-700 mb-4 text-center">Add new Product</h2>

    <form (ngSubmit)="addProduct()" class="space-y-4">
        <input type="text" [(ngModel)]="newProduct.name" name="name" placeholder="Product Name"
        class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none" required>

        <textarea [(ngModel)]="newProduct.description" name="description" placeholder="Description"
        class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none" required></textarea>

        <input type="number" [(ngModel)]="newProduct.price" name="price" placeholder="Price"
        class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none" required>

        <input type="text" [(ngModel)]="newProduct.imageUrl" name="imageUrl" placeholder="ImageUrl"
        class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none" required>

        <button type="submit" class="bg-emerald-600 text-white px-4 py-2 rounded-lg cursor-pointer">Add Product</button>
    </form>
 </div>

<!-- Show all products -->
<div class="min-h-screen bg-gray-100 p-8">
    <h2 class="text-3xl font-bold text-center text-emerald-700 mb-6">All Products</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let product of products"
        class="bg-white p-5 rounded-xl shadow border border-emerald-200">
        <img [src]="product.imageUrl" [alt]="product.name" class="w-full h-48 object-cover rounded mb-3">
        <h3 class="text-xl font-semibold text-emerald-800">{{product.name}}</h3>
        <p class="text-gray-600 mb-2">{{product.description}}</p>
        <div class="text-emerald-700 font-bold text-lg">₹ {{product.price}}</div>
        <!-- Delete product -->
         <button (click)="deleteProduct(product.id!)" class="bg-red-500 mt-2 text-white px-3 py-1 rounded-lg cursor-pointer">Delete</button>
        </div>
    </div>
</div>